<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" [routerLink]="['new']">New Company</button>
  </div>
</div>
<hr />
<div class="row" *ngIf="companyService.isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>
<div class="row" *ngIf="companyService.errorMessage && !companyService.isLoading" style="text-align: center;">
  {{companyService.errorMessage}}
</div>
<div class="row" *ngIf="!companyService.isLoading">
  <div class="col-xs-12">
    <app-company-item
      *ngFor="let company of companies; let i = index"
      [company]="company"
      [id]="i"
    ></app-company-item>
  </div>
</div>
